
.nav{
display: flex;
}

.nav-box{
display: flex;
align-items: center;
}

.auth{
display: flex;
margin-left: auto;
align-items:center;
}

.nav__list:not(:last-child){
margin-right: 50px;
}

.logo{
font-family: 'Raleway';
font-weight: var(--brand-weight);
font-size: 26px;
line-height: 1.19;
letter-spacing: var(--brand-spacing);
text-decoration: none;
}

.header .logo {
color: #000000;
}

.nav-box .logo{
display: block;
margin-right: 93px;
padding-top: 24px;
padding-bottom: 25px;
text-align: left;
}

.auth__list:not(:first-child){
margin-left: 50px;
}

.nav__link{
font-family:'Roboto';
font-weight: var(--second-weigh);
font-size: var(--main-font-size);
line-height: 1.17;
letter-spacing: 0.02em;
text-decoration: none;
display: flex;
padding-top: 32px;
padding-bottom: 32px;
align-items: center;
color: var(--main-text-color);
transition: color var(--transition-dur-and-func),
text-shadow var(--transition-dur-and-func);

&:hover,
&:focus{
color: #188CE8;
text-shadow: var(--transition-main-shadow);
}
}

.auth__link{
font-family:'Roboto';
font-weight: var(--second-weigh);
font-size: var(--main-font-size);
line-height: 1.17;
letter-spacing: 0.02em;
text-decoration: none;
display: flex;
padding-top: 32px;
padding-bottom: 32px;
align-items: center;
color: var(--main-text-color);
transition: color var(--transition-dur-and-func),
text-shadow var(--transition-dur-and-func);

.list &{
color:var(--main-color-link);
}

&:hover,
&:focus{
color: #188CE8;
text-shadow: var(--transition-main-shadow);
}

&:hover::before{
color: var(--color-button);
}
}


.mail{
fill: currentColor;
}

.auth__mail-icon{
margin-right: 10px;
}

.tel{
fill: currentColor;
}

.auth__tel-icon{
margin-right: 10px;
}

.logo__head{
color: var(--color-button);
}

.current{
position: relative;
color:#188CE8;
display: flex;
flex-wrap: wrap;
width: 100%;
text-align: center;

&::after{
position: absolute;
bottom: 0;
display: block;
content: "";
width: 100%;
height: 4px;
background-color: var(--color-button);
border-radius: 2px;
}
}


