.unique{
display: flex;
width: 270px;
}

.unique__list:not(:last-child){
margin-right: 30px;
}

.unique__block-icon{
height: 120px;
justify-content: center;
align-items: center;
text-align: center;
padding: 25px 100px;
margin-bottom: 30px;
background-color: #F5F4FA;
}

.list-item{
font-weight: var(--brand-weight);
font-size: var(--main-font-size);
line-height: 1.14;
letter-spacing: var(--brand-spacing);
text-transform: uppercase;
color: var(--main-text-color);
font-family: 'Roboto', 'Raleway', sans-serif ;
margin-bottom: 10px;
}

.list-item__discription{
font-weight:400;
font-size:var(--main-font-size);
line-height: 1.71;
letter-spacing: var(--brand-spacing);
color: var(--main-color-link);
text-transform: none;
}