.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: var(--second-text-color);
width: 528px;
height: 581px;
padding: 40px;
border-radius: 4px;
}

.modal-close-btn{
position: absolute;
top: 8px;
right: 8px;
display: flex;
justify-content: center;
align-items: center;

width: 30px;
height: 30px;
background-color: transparent;
padding: 0;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
cursor: pointer;
}

.modal-close-icon{
transition: fill var(--transition-dur-and-func);

.modal-close-btn:hover &,
.modal-close-btn:focus &{
fill: var(--color-button);
}
}

