.modal-button{
width: 200px;
height: 50px;
background-color: var(--color-button);
color: var(--second-text-color);
padding: 10px 52px;
align-items: center;
font-size: var(--second-font-size);
font-weight: var(--second-weigh);
line-height: 1.88;
letter-spacing: var(--second-spacing);
}



