.subtital{
width: var(--brand-weight);
font-size: 36px;
height: 1.17;
text-align: var(--main-align);
letter-spacing: var(--brand-spacing);
color: var(--main-text-color);
font-family: 'Roboto', 'Raleway', sans-serif;
margin-bottom: 50px;
}