.tital-subject{
width: 696px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: var(--second-spacing);
vertical-align: top;
text-align: center;
flex-wrap: wrap;
text-transform: uppercase;
color: var(--second-text-color); 
margin: 0 auto;
margin-bottom: 30px;
}