:root{
  --brand-background: #F5F5F5;
  --dark-background: #2F303A;
  --color-button: #2196F3;
  --main-color-link: #757575;
  --main-text-color: #212121;
  --second-text-color: #FFFFFF;
  --main-font-size: 14px;
  --second-font-size: 16px;

  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-main-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


  --brand-weight: 700;
  --second-weigh: 500;

  --main-align: center;

  --brand-spacing: 0.03em;
  --second-spacing: 0.06em;
}

